/* Style the header */
.header {
    padding: 10px 16px;
    background: #555;
    color: #f1f1f1;
    z-index:1000 !important;
}

/* Page content */
.content {
    padding: 16px;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
    padding-top: 102px;
}

body{
    padding-top: 70px;
}

.logo-bc{
    width: 200px;
    margin-top: -10px;
}

.bg-header{
    background-color: aliceblue;
}

.custom-dropdown{
    margin-top: 8px;
    background-color: #F8F8F8 !important;
    border-color: #F8F8F8 !important;
    color: #777;
}

.span-btn-minimize{
    float: right;
    font-size: 30px;
    margin-top: -25px;
    cursor: pointer;
}


.hide-panel{
    display: none;
}

.show-panel{
    display: block;
}

.label-size{
    font-size: 15px;
}

