/* Config padrao dos box usado nas paginas */

.portlet-body-config{
    padding: 10px !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

html{ height:100%; }
body{ min-height:100%; padding:0; margin:0; position:relative; }

body::after{ content:''; display:block; height:100px; }

.border-input{
    border-radius: 0px 10px 10px 0 !important;
}

.fix-bottom-check{
    margin-top: 30px !important;
    margin-bottom: 0px !important;
}

#footer{
    clear: both;
    position: absolute;
    height: 40px;
    width: 100%;
    margin-top: 50px;

    /*position:absolute;
    bottom:0;
    width:100%;
    height:10px;*/
}

/*input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
}

label {
    cursor: pointer;
    text-indent: -9999px;
    width: 40px;
    height: 20px;
    background: #e1dfea;
    display: block;
    border-radius: 100px !important;
    position: relative;
}

label:after {
    content: '';
    position: absolute;
    top: 3px;
    left: 5px;
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
}

input:checked + label {
    background: #0e9eda;
}

input:checked + label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

label:active:after {
    width: 130px;
}

.label-chosen{
    width: 100px;
    height: 25px;
    background: #8080802b;
    padding-left: 5px;
    padding-top: 2px;
}*/


