.beconnect{
    color: #4F0C53;
}

.beconnect-back{
    background: #4F0C53;
    color: white;
}

.sidebar-extended{
    width: 420px !important;
}

#file-upload {
    display: none;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.small-button{
    width: 70px !important;
}

.green{
    color: #269224;
}

.desktop span{
    margin-left: 100px;
    font-weight: 800;
}

.tbody-agenda-desktop tr td label{
    margin-bottom: 50px;
}

.tbody-agenda-desktop tr td label:hover{
    cursor: pointer;
}

.tbody-agenda-desktop tr td h6{
    text-align: right;
}

.tbody-agenda-desktop tr td h5{
    margin-top: -40px;
    margin-bottom: 80px;
}

.thead-agenda tr th{
    text-align: center;
}

.desktop a{
    margin-top: -30px;
}

.panel-mobile{
    margin-bottom: -1px;
}

.day-panel-mobile{
    margin-top: -10px;
}

.today-back{
    background-color: #ffffcc;
}

.agenda{
    transition: all 1s linear;
}

.hidden {
    display: none;
}

.visuallyhidden {
    opacity: 0;
}

.check-hidden{
    visibility: hidden;
}

.ui-loader{
    display: none;
}

#input-search{
    width: 60px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    /*background-image: url('../uploads/icons/searchicon.png');*/
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

#input-search:focus{
    width: 100%;
}

.search{
    width: 10px;
    height: 10px;

    position: relative;
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

.loader {
    display: none;
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    background-color: white;
    border-radius: 50% !important;
    margin: 0 auto;
    position: relative;
    z-index: 30;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.small-error{
    color: red;
    display: none;
}

.ul-search{
    display: none;
    list-style-type: none;
}

.ul-search li a{
    color: #a2abb7;
}

.ul-search li a:hover{
    color: #373E47 !important;
}

#ul-results{
    list-style-type: none;
}

#ul-results li{
    margin-top: 10px;
}

#ul-results li a{

}

.small-img{
    width: 50px;
}

.read-message{
    background-color: #4c4d4f;
}





